/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;  */

:root {
    --primary-color: #f9f7fe;
    --secondary-color:#6c63ff;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font:'Playfair Display', serif;
}


.hero-section {
    background-color: var(--primary-color);
    text-align: center;
    padding-bottom: 200px;
}

.hero-section h1 {
    font-family: var(--secondary-font);
    font-size: 96px;
    font-weight: bold;
}

.hero-section h2 {
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: bold; 
    padding-top: 250px;
}


.hero-section h3 {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: light;
    padding-bottom: 30px;
}

.hero-section a {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: medium;
    background-color:var(--secondary-color);
    border-radius: 4px;
    color:white;
    text-decoration: none;
    padding: 18px 46px;    
}

.get-started-btn {
margin-top: 50px;
}

.project-details {
    margin: 90px 60px;
}

.project-details h2 {
    font-family: var(--secondary-font);
    font-size: 64px;
    padding-bottom: 30px;
}

.project-details p {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
}

.project-details a {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: medium;
    border-radius: 4px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    text-decoration: none;
    padding: 18px 25px;
}

p {
font-family: var(--primary-font);
}

@media (max-width: 900px) {
    .hero-section {
        padding-bottom: 100px;
    }
    .hero-section h1 {
        font-size: 50px;
        font-weight: bold;
    }
    .hero-section h2 {
        padding-top: 125px;
}

    .hero-section a {
        font-size: 14px;
        padding: 10px 22px;
    }

    .project-details {
        text-align: center;
        margin: 30px 10px;
    }
    .project-details h2 {
        font-size: 34px;
        padding-bottom: 15px;
    }
    
    .project-details p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
  
    .project-details a {
        font-size: 14px;
        padding: 10px 15px;
    }
}