/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;  */


.hero-section{
    background-color: #f9f7fe;
}

h1 {
    color: red;
    font-family: 'Playfair Display', serif;
}

h3 {
    color: blue;
}

p {
font-family: 'Poppins', sans-serif;
}